$ns-topbar-padding:0 0.75em;
$ns-topbar-border-size: 0.125em;
$ns-topbar-border-color: #d9e0e2;

$nav-link-line-height: 3em !default;

@mixin ns-topbar-nav {
  width: 100%;
  max-width: none;
  display: block;

  &:after {
    clear: both;
    content: ' ';
    display: block;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@mixin ns-topbar($padding: $ns-topbar-padding) {
  width: 100%;
  padding: $padding;
  background: #fff;
  border-bottom: solid $ns-topbar-border-size $ns-topbar-border-color;
  line-height: $nav-link-line-height/2;
  height: $nav-link-line-height +  $ns-topbar-border-size;
}

@mixin ns-topbar-list-item() {
  float: left;
  margin-right: 1em;
  padding-top: 0;
}

@mixin ns-topbar-list() {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;

  &:after {
    clear: both;
  }
}

@mixin ns-topbar-link {
  background: transparent;
  line-height: $nav-link-line-height;
  padding: 0;
  text-decoration: none;
  display: block;
  font-weight: 400;
}

